<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/cadastro/cadastro.js"></script>
</head>
<body>
    <%- include('partials/cabecalhos', {tituloCabecalho})%>

    <nav>
        <ul>
            <li>
                <a href="/cadastro" title="Cadastro">Home</a>
            </li>
        </ul>
    </nav>

    <div id="alerta" style="background-color: red;">

    </div>
</body>
</html>